<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CamadaDeDados.Properties.Settings.padokaBDConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\DELL\Documents\Projekt_engsoft\banco\padokaBD.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>